@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

body {
    background-color: rgb(194, 233, 144);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-family: 'Ranchers', cursive;
    letter-spacing: 2px;
    font-size: 40px;
}

p{
    font-size: 20px;
}
p span{
    font-size: 30px;
    font-weight: bold;
}

@media only screen and (max-width: 770px) {

    p{
        font-size: 15px;
    }
    p span{
        font-size: 20px;
        font-weight: bold;
    }
}
